{% extends 'base.html' %}

{% block content %}
	<div>
		<h3>About Me</h3>
		<ul>
			<li>
				Third year computer science student at UC Riverside.
			</li> 
		</ul>

		<h3>Work</h3>
		<ul>
			<li>
				I currently employed at the Caltrans District 8 TMC as a student programmer (since August 2019).
			</li>
			<li>
				My primary duty is to design, develop, and maintain a web application that is used to log, track, and address highway incidents in San Bernardino and Riverside county.
			</li>
			<li>
				I ensure that automated software conforms to appopriate Caltrans SOPs.
			</li>
		</ul>

		<h3>Proficiencies</h3>
		<ul>
			<li><b>C</b></li>
			<li>Object Oriented Languages</li>
			<ul>
				<li>C++</li>
				<li>Java</li>
				<li>Python</li>
			</ul>
			<li>HDLs</li>
			<ul>
				<li>VHDL</li>
				<li>Verilog</li>
			</ul>
			<li>Scripting Languages</li>
			<ul>
				<li>PHP</li>
				<li>Python</li>
				<li>Javascript</li>
			</ul>
			<li>Web Frameworks</li>
			<ul>
				<li>Django</li>
				<li>React</li>
				<li>Flask</li>
				<li>Spring Framework</li>
			</ul>
			<li>Databases</li>
			<ul>
				<li>MySQL</li>
				<li>sqllite3</li>
				<li>Google Real Time Database (Firebase)</li>
			</ul>
			<li>Mobile Development</li>
			<ul>
				<li>Java</li>
				<li>Dart</li>
			</ul>
			<li>Unix Administration</li>
			<li>Microcontroller Programming</li>

		</ul>
	</div>
{% endblock %}